body {
    display: block;
    margin: 8px;
}

.logo {
    width: 315px;
    height: 113px;
    margin: 0 auto;
    padding: 0;
}

.search {

    width: 90%;
    padding: 0;
    margin: 0 auto;
    background-color: aliceblue;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.search label {
    display: block;
}

.search input[name="q"] {
    display: block;
    margin: 0 auto;
    padding: 1px 2px;
    border: 2px solid rgb(118, 118, 118), rgb(133, 133, 133);
    width: 300px;
}

.bottom {
    width: 90%;
    margin: 1px auto 0;
    display: flex;

}

.box1 {
    background-color: rgb(126, 229, 218);
    text-align: center;
    width: 37%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.box2 {
    background-color: rgb(112, 204, 194);
    text-align: center;
    width: 23%;
    margin: 0 2px;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box3 {
    background-color: rgb(98, 179, 170);
    text-align: center;
    width: 40%;
}

.box3 .tyt {
    font-size: small;
}

.box3 input[type="email"] {
    display: block;
    margin: 0 auto;
}

.archive {
    display: inline-block;
}

footer div {
    text-align: center;
    font-size: small;
    padding-top: 20px;
}